# Bonus: Temperature Analysis I

In [18]:
import pandas as pd
from datetime import datetime as dt

In [19]:
# "tobs" is "temperature observations"
df = pd.read_csv("C://Users//lavg1//sqlalchemy-challenge//Resources//hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [24]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [27]:
# Set the date column as the DataFrame index
df.set_index('date',inplace=True)

KeyError: "None of ['date'] are in the columns"

In [28]:
# Drop the date column
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis